header#header.header
  .container
    .header__inner
      .header__left
        .logo
          a(href="index.html")
            img(src="assets/img/svg/logo.svg", width="208" height="50" alt="Evoke Health")
      .header__right
        nav.header__menu
          ul.header__menu-list.list-reset
            li
              a(href="product.html") Product
            li
              a(href="about.html") About us
            li
              a(href="contact.html") Contact
        .header__buttons
          a.button.header__button(href="login.html") Log In
          button#burger-button.burger-button(aria-label="Open menu")
            span
