.about-digital__content {
  max-width: 112.8rem;
  width: 100%;
  margin: 0 auto;
}

.about-digital__text {
  font-size: 20px;
  font-weight: 500;
  color: var(--black-beta);

  p:not(:last-child) {
    margin-bottom: 16px;
  }
}
