.about-digital__content {
  max-width: 112.8rem;
  width: 100%;
  margin: 0 auto;
}

.about-digital__text {
  font-size: 20px;
  font-weight: 500;
  color: var(--black-beta);

  p:not(:last-child) {
    margin-bottom: 16px;
  }

  @include media-tablet-lg {
    font-size: 16px;
  }
}

.about-digital__title {
  @include media-tablet-lg {
    margin-bottom: 24px;
  }
}
