.log-in {
  padding: 6rem 0;

  @include media-tablet-sm {
    padding: 40px 0;
  }
}

.log-in__inner {
  display: flex;
  justify-content: center;
}

.log-in__title {
  text-transform: none;
}

.log-in__form-content {
  margin-bottom: 0;
}

.log-in__inputs {
  margin-bottom: 16px;
}

.log-in__forgot {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--black-beta);
  transition: color 0.1s linear;
  margin-bottom: 24px;

  &:hover {
    color: var(--purple-alpha);
  }
}

.log-in__submit {
  margin-bottom: 24px;
}

.log-in__decor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 24px;

  &::after,
  &::before {
    content: '';
    height: 1px;
    background-color: var(--white-gamma);
    width: 250px;
  }
}

.log-in__link {
  margin-bottom: 24px;
  text-transform: none;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    &::before {
      content: url('../img/png/point-click.png');
    }
  }
}
