extends common/layout

block content
  main
    section.intro
      .container
        .intro__inner
          .intro__descrip
            h1.intro__title Connecting families, strengthening care in senior living homes
            h2.intro__subtitle Empower families, improve care, and become a residence of choice with our EHR-integrated resident and family portal, Engage+
            button.button Book a demo
          .intro__img
            img(src="assets/img/png/intro-1.png", width="984" heigt="880" alt="")
            ul.intro__solutions.list-reset
              li
                p Health information
                div
                  img(src="assets/img/svg/solutions-heart.svg", width="45" height="45" alt="")
              li
                p Secure Messaging
                div
                  img(src="assets/img/svg/solutions-message.svg", width="45" height="45" alt="")
              li
                p Care Conference Reminders
                div
                  img(src="assets/img/svg/solutions-reminder.svg", width="45" height="45" alt="")
              li
                p Automated Charting
                div
                  img(src="assets/img/svg/solutions-chart.svg", width="45" height="45" alt="")
              li
                div
                  img(src="assets/img/svg/solutions-info.svg", width="60" height="60" alt="")
              li
                div
                  img(src="assets/img/svg/solutions-click.svg", width="60" height="60" alt="")
              li
                div
                  img(src="assets/img/svg/solutions-hands.svg", width="60" height="60" alt="")
              li
                div
                  img(src="assets/img/png/solutions-green.png", width="60" height="60" alt="")

    section.engage.section.bg-decor
      .container
        .engage__inner
          .engage__content
            .engage__descrip
              h2.engage__title <span> Engage<sup>+</sup> </span> — A complete resident and family portal tailored for
              ul.engage__list.list-reset
                li Skilled Nursing
                li Assisted Living
                li Home Health
                li Long-term care
                li Memory Care
                li Hospice
              h2.engage__title <span> Engage<sup>+</sup> </span> integrates with leading EHR software in North America.
            a.engage__partner(href="https://pointclickcare.com" target="_blank" )
              img(src="assets/img/png/point-click-care.png", width="324" height="70" loading="lazy" alt="Point Click Care partner")
          .engage__img
            img(src="assets/img/png/engage.png", width="749" height="484" alt="" loading="lazy")

    section.why.section
      .container
        h2.title.title--center Why Engage<sup>+</sup> ?
        .why__inner
          .why__progress
            .why__progress-circles
              .progress-circle(data-progress-circle data-progress-end="40")
                .progress-circle__info(data-progress-info)
                  p reduction in phone calls
              .progress-circle(data-progress-circle data-progress-end="42" data-progress-mark="hrs")
                .progress-circle__info(data-progress-info)
                  p per staff per week saved
              .progress-circle.progress-circle--up(data-progress-circle data-progress-end="90")
                .progress-circle__info(data-progress-info)
                  p family engagement per week
