extends common/layout

block content
  main
    section.intro
      .container
        .intro__inner
          .intro__descrip
            h1.intro__title Connecting families, strengthening care in senior living homes
            h2.intro__subtitle Empower families, improve care, and become a residence of choice with our EHR-integrated resident and family portal, Engage+
            button.button Book a demo
          .intro__img
            img(src="assets/img/png/intro-1.png", width="984" heigt="880" alt="")
            ul.intro__solutions.list-reset
              li
                p Health information
                div
                  img(src="assets/img/svg/solutions-heart.svg", width="45" height="45" alt="")
              li
                p Secure Messaging
                div
                  img(src="assets/img/svg/solutions-message.svg", width="45" height="45" alt="")
              li
                p Care Conference Reminders
                div
                  img(src="assets/img/svg/solutions-reminder.svg", width="45" height="45" alt="")
              li
                p Automated Charting
                div
                  img(src="assets/img/svg/solutions-chart.svg", width="45" height="45" alt="")
              li
                div
                  img(src="assets/img/svg/solutions-info.svg", width="60" height="60" alt="")
              li
                div
                  img(src="assets/img/svg/solutions-click.svg", width="60" height="60" alt="")
              li
                div
                  img(src="assets/img/svg/solutions-hands.svg", width="60" height="60" alt="")
              li
                div
                  img(src="assets/img/png/solutions-green.png", width="60" height="60" alt="")

    section.engage.section.bg-decor
      .container
        .engage__inner
          .engage__content
            .engage__descrip
              h2.engage__title <span> Engage<sup>+</sup> </span> — A complete resident and family portal tailored for
              ul.list-check.engage__list.list-reset
                li Skilled Nursing
                li Assisted Living
                li Home Health
                li Long-term care
                li Memory Care
                li Hospice
              h2.engage__title <span> Engage<sup>+</sup> </span> integrates with leading EHR software in North America.
            a.engage__partner(href="https://pointclickcare.com" target="_blank" )
              img(src="assets/img/png/point-click-care.png", width="324" height="70" loading="lazy" alt="Point Click Care partner")
          .engage__img
            img(src="assets/img/png/engage.png", width="749" height="484" alt="" loading="lazy")

    section.why.section
      .container
        h2.title.title--center Why Engage<sup>+</sup> ?
        .why__inner
          .why__progress
            .why__progress-circles
              .progress-circle(data-progress-circle data-progress-end="40")
                .progress-circle__info(data-progress-info)
                  p reduction in phone calls
              .progress-circle(data-progress-circle data-progress-end="42" data-progress-mark="hrs")
                .progress-circle__info(data-progress-info)
                  p per staff per week saved
              .progress-circle.progress-circle--up(data-progress-circle data-progress-end="90")
                .progress-circle__info(data-progress-info)
                  p family engagement per week
            .why__descrip
              h3.why__descrip-title Supporting the paradigm shift to empathetic communication in senior living communities.
              .text
                p Engage+ is quick to implement, easy to use, and saves time for clinical staff, while enhancing family engagement!
          ul.gains-list.why__gains.list-reset
            li.gains-list__item
              img.gains-list__item-img(src="assets/img/svg/care.svg", width="120" height="120" alt="" loading="lazy")
              h3.gains-list__item-title Empower families
              .text.gains-list__item-text
                p Proactively equip families with information to be equal partners in residents’ care.
            li.gains-list__item
              img.gains-list__item-img(src="assets/img/svg/save-time.svg", width="120" height="120" alt="" loading="lazy")
              h3.gains-list__item-title Improve care
              .text.gains-list__item-text
                p No more phone tag between nurses and families means your staff has more time to focus on care.
            li.gains-list__item
              img.gains-list__item-img(src="assets/img/svg/choice.svg", width="120" height="120" alt="" loading="lazy")
              h3.gains-list__item-title Become a residence of choice
              .text.gains-list__item-text
                p Building trust and transparency families helps you attract more residents.
            li.gains-list__item
              img.gains-list__item-img(src="assets/img/svg/law.svg", width="120" height="120" alt="" loading="lazy")
              h3.gains-list__item-title Maintain compliance
              .text.gains-list__item-text
                p Ensure compliance with CMS and Long-Term Care Act.
          button.button.why__gains-button book a demo

    section.solutions.section.bg-decor
      .container
        h2.title.title--center Solutions
        .solutions__inner
          .solutions__content
            .solutions__line
            ul.solutions__list.list-reset
              li.solutions__list-item
                div.solutions__list-item-img
                  img(src="assets/img/svg/solutions-heart.svg", width="150" height="150" alt="" loading="lazy")
                .solutions__list-item-descrip
                  h3.solutions__list-item-title Health Information
                  .text.solutions__list-item-text
                    p Proactively equip families with information and assure them that their loved ones are in good hands, while returning valuable time back to your staff.
                  a.button.button--text.solutions__list-item-link(href="#") Learn More
              li.solutions__list-item
                div.solutions__list-item-img
                  img(src="assets/img/svg/solutions-message.svg", width="150" height="150" alt="" loading="lazy")
                .solutions__list-item-descrip
                  h3.solutions__list-item-title Secure Messaging
                  .text.solutions__list-item-text
                    p Save time for your clinical team by centralizing and streamlining communication with families with our secure HIPAA compliant messaging module.
                  a.button.button--text.solutions__list-item-link(href="#") Learn More
              li.solutions__list-item
                div.solutions__list-item-img
                  img(src="assets/img/svg/solutions-click.svg", width="150" height="150" alt="" loading="lazy")
                .solutions__list-item-descrip
                  h3.solutions__list-item-title Appointment booking
                  .text.solutions__list-item-text
                    p Easily integrate an online booking tool that allow families to view upcoming resident appointments, book visitations, respond to care conferences, and record it in the EHR with a push of a button.
                  a.button.button--text.solutions__list-item-link(href="#") Learn More
              li.solutions__list-item
                div.solutions__list-item-img
                  img(src="assets/img/svg/solutions-reminder.svg", width="150" height="150" alt="" loading="lazy")
                .solutions__list-item-descrip
                  h3.solutions__list-item-title Care Conference Reminders
                  .text.solutions__list-item-text
                    p Bring staff and families together for care conferences by automatically sending care conference reminders to the families.
                  a.button.button--text.solutions__list-item-link(href="#") Learn More
              li.solutions__list-item
                div.solutions__list-item-img
                  img(src="assets/img/svg/solutions-info.svg", width="150" height="150" alt="" loading="lazy")
                .solutions__list-item-descrip
                  h3.solutions__list-item-title Mass Announcements
                  .text.solutions__list-item-text
                    p Share information with residents and their families to keep everyone up to date of important community communications and ensure regulatory compliance.
                  a.button.button--text.solutions__list-item-link(href="#") Learn More
              li.solutions__list-item
                div.solutions__list-item-img
                  img(src="assets/img/svg/solutions-share.svg", width="150" height="150" alt="" loading="lazy")
                .solutions__list-item-descrip
                  h3.solutions__list-item-title Document Sharing
                  .text.solutions__list-item-text
                    p Allow sharing of sensitive documents between families and care team that will help deliver resident centered care.
                  a.button.button--text.solutions__list-item-link(href="#") Learn More
              li.solutions__list-item
                div.solutions__list-item-img
                  img(src="assets/img/svg/solutions-hands.svg", width="150" height="150" alt="" loading="lazy")
                .solutions__list-item-descrip
                  h3.solutions__list-item-title Onboarding
                  .text.solutions__list-item-text
                    p Get started with just 5 clicks with no download, installation, or infrastructure required for setup and use, making our platform easily scalable and provide better customer and user experience.
                  a.button.button--text.solutions__list-item-link(href="#") Learn More
