extends common/layout

block content
  main
    section.intro
      .container
        .intro__inner
          .intro__descrip
            h1.intro__title Connecting families, strengthening care in senior living homes
            h2.intro__subtitle Empower families, improve care, and become a residence of choice with our EHR-integrated resident and family portal, Engage+
            button.button Book a demo
          .intro__img
            img(src="assets/img/png/intro-1.png", width="984" height="880" alt="")
            ul.intro__solutions.list-reset
              li
                p Health information
                div
                  img(src="assets/img/svg/solutions-heart.svg", width="45" height="45" alt="")
              li
                p Secure Messaging
                div
                  img(src="assets/img/svg/solutions-message.svg", width="45" height="45" alt="")
              li
                p Care Conference Reminders
                div
                  img(src="assets/img/svg/solutions-reminder.svg", width="45" height="45" alt="")
              li
                p Automated Charting
                div
                  img(src="assets/img/svg/solutions-chart.svg", width="45" height="45" alt="")
              li
                div
                  img(src="assets/img/svg/solutions-info.svg", width="60" height="60" alt="")
              li
                div
                  img(src="assets/img/svg/solutions-click.svg", width="60" height="60" alt="")
              li
                div
                  img(src="assets/img/svg/solutions-hands.svg", width="60" height="60" alt="")
              li
                div
                  img(src="assets/img/png/solutions-green.png", width="60" height="60" alt="")

    section.engage.section.bg-decor
      .container
        .engage__inner
          .engage__content
            .engage__descrip
              h2.engage__title <span> Engage<sup>+</sup> </span> — A complete resident and family portal tailored for
              ul.list-check.engage__list.list-reset
                li Skilled Nursing
                li Assisted Living
                li Home Health
                li Long-term care
                li Memory Care
                li Hospice
              h2.engage__title <span> Engage<sup>+</sup> </span> integrates with leading EHR software in North America.
            a.engage__partner(href="https://pointclickcare.com" target="_blank" )
              img(src="assets/img/png/point-click-care.png", width="324" height="70" loading="lazy" alt="Point Click Care partner")
          .engage__img
            img(src="assets/img/png/engage.png", width="749" height="484" alt="" loading="lazy")

    section.why.section
      .container
        h2.title.title--center Why Engage<sup>+</sup> ?
        .why__inner
          .why__progress
            .why__progress-circles
              .progress-circle(data-progress-circle data-progress-end="40")
                .progress-circle__info(data-progress-info)
                  p reduction in phone calls
              .progress-circle(data-progress-circle data-progress-end="42" data-progress-mark="hrs")
                .progress-circle__info(data-progress-info)
                  p per staff per week saved
              .progress-circle.progress-circle--up(data-progress-circle data-progress-end="90")
                .progress-circle__info(data-progress-info)
                  p family engagement per week
            .why__descrip
              h3.why__descrip-title Supporting the paradigm shift to empathetic communication in senior living communities.
              .text
                p Engage+ is quick to implement, easy to use, and saves time for clinical staff, while enhancing family engagement!
          ul.gains-list.why__gains.list-reset
            li.gains-list__item
              img.gains-list__item-img(src="assets/img/svg/care.svg", width="120" height="120" alt="" loading="lazy")
              h3.gains-list__item-title Empower families
              .text.gains-list__item-text
                p Proactively equip families with information to be equal partners in residents’ care.
            li.gains-list__item
              img.gains-list__item-img(src="assets/img/svg/save-time.svg", width="120" height="120" alt="" loading="lazy")
              h3.gains-list__item-title Improve care
              .text.gains-list__item-text
                p No more phone tag between nurses and families means your staff has more time to focus on care.
            li.gains-list__item
              img.gains-list__item-img(src="assets/img/svg/choice.svg", width="120" height="120" alt="" loading="lazy")
              h3.gains-list__item-title Become a residence of choice
              .text.gains-list__item-text
                p Building trust and transparency families helps you attract more residents.
            li.gains-list__item
              img.gains-list__item-img(src="assets/img/svg/law.svg", width="120" height="120" alt="" loading="lazy")
              h3.gains-list__item-title Maintain compliance
              .text.gains-list__item-text
                p Ensure compliance with CMS and Long-Term Care Act.
          button.button.why__gains-button book a demo

    section.solutions.section.bg-decor
      .container
        h2.title.title--center Solutions
        .solutions__inner
          .solutions__content
            .solutions__line
            ul.solutions__list.list-reset
              li.solutions__list-item
                .solutions__list-item-img
                  img(src="assets/img/svg/solutions-heart.svg", width="150" height="150" alt="" loading="lazy")
                .solutions__list-item-descrip
                  h3.solutions__list-item-title Health Information
                  .text.solutions__list-item-text
                    p Proactively equip families with information and assure them that their loved ones are in good hands, while returning valuable time back to your staff.
                  a.button.button--text.solutions__list-item-link(href="#") Learn More
              li.solutions__list-item
                .solutions__list-item-img
                  img(src="assets/img/svg/solutions-message.svg", width="150" height="150" alt="" loading="lazy")
                .solutions__list-item-descrip
                  h3.solutions__list-item-title Secure Messaging
                  .text.solutions__list-item-text
                    p Save time for your clinical team by centralizing and streamlining communication with families with our secure HIPAA compliant messaging module.
                  a.button.button--text.solutions__list-item-link(href="#") Learn More
              li.solutions__list-item
                .solutions__list-item-img
                  img(src="assets/img/svg/solutions-click.svg", width="150" height="150" alt="" loading="lazy")
                .solutions__list-item-descrip
                  h3.solutions__list-item-title Appointment booking
                  .text.solutions__list-item-text
                    p Easily integrate an online booking tool that allow families to view upcoming resident appointments, book visitations, respond to care conferences, and record it in the EHR with a push of a button.
                  a.button.button--text.solutions__list-item-link(href="#") Learn More
              li.solutions__list-item
                .solutions__list-item-img
                  img(src="assets/img/svg/solutions-reminder.svg", width="150" height="150" alt="" loading="lazy")
                .solutions__list-item-descrip
                  h3.solutions__list-item-title Care Conference Reminders
                  .text.solutions__list-item-text
                    p Bring staff and families together for care conferences by automatically sending care conference reminders to the families.
                  a.button.button--text.solutions__list-item-link(href="#") Learn More
              li.solutions__list-item
                .solutions__list-item-img
                  img(src="assets/img/svg/solutions-info.svg", width="150" height="150" alt="" loading="lazy")
                .solutions__list-item-descrip
                  h3.solutions__list-item-title Mass Announcements
                  .text.solutions__list-item-text
                    p Share information with residents and their families to keep everyone up to date of important community communications and ensure regulatory compliance.
                  a.button.button--text.solutions__list-item-link(href="#") Learn More
              li.solutions__list-item
                .solutions__list-item-img
                  img(src="assets/img/svg/solutions-share.svg", width="150" height="150" alt="" loading="lazy")
                .solutions__list-item-descrip
                  h3.solutions__list-item-title Document Sharing
                  .text.solutions__list-item-text
                    p Allow sharing of sensitive documents between families and care team that will help deliver resident centered care.
                  a.button.button--text.solutions__list-item-link(href="#") Learn More
              li.solutions__list-item
                .solutions__list-item-img
                  img(src="assets/img/svg/solutions-hands.svg", width="150" height="150" alt="" loading="lazy")
                .solutions__list-item-descrip
                  h3.solutions__list-item-title Onboarding
                  .text.solutions__list-item-text
                    p Get started with just 5 clicks with no download, installation, or infrastructure required for setup and use, making our platform easily scalable and provide better customer and user experience.
                  a.button.button--text.solutions__list-item-link(href="#") Learn More

    section.slider.section.section--mb-none
      .container
        .slider__top
          h2.title.slider__title Testimonials
          .slider__controls
            button.slider__button.slider__button--prev(data-slider-prev)
              <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_662_1391)">
                <path d="M5.64953 14.3348H24.3171M5.64953 14.3348L12.7206 7.26372M5.64953 14.3348L12.7206 21.4059" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                <clipPath id="clip0_662_1391">
                <rect width="19.2" height="19.2" transform="matrix(-0.707107 0.707107 0.707107 0.707107 14.1348 0.758301)"/>
                </clipPath>
                </defs>
              </svg>
            button.slider__button.slider__button--next(data-slider-next)
              <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_662_1391)">
                <path d="M5.64953 14.3348H24.3171M5.64953 14.3348L12.7206 7.26372M5.64953 14.3348L12.7206 21.4059" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                <clipPath id="clip0_662_1391">
                <rect width="19.2" height="19.2" transform="matrix(-0.707107 0.707107 0.707107 0.707107 14.1348 0.758301)"/>
                </clipPath>
                </defs>
              </svg>
        .slider__inner
          #swiper-testimonials.swiper.slider__content
            .swiper-wrapper
              .swiper-slide.slider__item
                .slider__item-img
                  img(src="assets/img/jpg/testimonials-1.jpg", width="100" height="100" alt="")
                .text.slider__item-text
                  p The phone calls have decreased on therapy's end and there seems to be less confusion on who to speak to talk about medical things when we are talking with the families.
                .text.slider__item-author
                  span.slider__item-author-name Vicki Williamson,&nbsp;
                  span Director of Therapy
              .swiper-slide.slider__item
                .slider__item-img
                  img(src="assets/img/jpg/testimonials-2.jpg", width="100" height="100" alt="")
                .text.slider__item-text
                  p We could never keep up with questions from families without the messaging. I have also found there to be a significant decrease in phone calls. Especially when there is simple question to ask, we can shoot back a quick reply.
                .text.slider__item-author
                  span.slider__item-author-name Shannon Durante,&nbsp;
                  span Assistant Director of Nursing
              .swiper-slide.slider__item
                .slider__item-img
                  img(src="assets/img/jpg/testimonials-3.jpg", width="100" height="100" alt="")
                .text.slider__item-text
                  p I have definitely noticed a decreased amount of phone calls. Families being able to see health information has been a big help.
                .text.slider__item-author
                  span.slider__item-author-name Kelly Moore,&nbsp;
                  span Director of Nursing
              .swiper-slide.slider__item
                .slider__item-img
                  img(src="assets/img/jpg/testimonials-4.jpg", width="100" height="100" alt="")
                .text.slider__item-text
                  p Wow I like everything about this service! This is so helpful, informative and really keeps me as a loved one up to date and my mind is at ease regarding my husband's care. It's really an awesome service, technology can be so wonderful, and this was created perfectly.
                .text.slider__item-author
                  span.slider__item-author-name Family member
              .swiper-slide.slider__item
                .slider__item-img
                  img(src="assets/img/jpg/test.jpg", width="100" height="100" alt="")
                .text.slider__item-text
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio sed necessitatibus dolor quas nam, eos ipsa ad voluptate, labore iusto eius repellendus exercitationem est praesentium architecto doloremque cupiditate odio magnam?
                .text.slider__item-author
                  span.slider__item-author-name Shannon Durante,&nbsp;
                  span Assistant Director of Nursing

    section.demo.section.section--mb-none
      .container
        .demo__content
          .demo__descrip
            h2.demo__title <span>Discover how Engage+ can help</span> your staff make time for the work that matters most!
            button.button.button--secondary schedule a demo
          .demo__img
            img(src="assets/img/png/demo.png", width="520" height="382" alt="" loading="lazy")
        button#scroll-top.to-top scroll to top
