extends common/layout

block title
  title Solutions

block content
  main
    .visually-hidden
      h1 Evoke Health product

    +crumbs([
      {href: '', name: 'Product'}
    ])

    section.product-info
      #solutions-health.product-info__item.section(data-product-item)
        .container
          .product-info__inner
            .product-info__item-img(data-aos="fade-right" data-aos-duration="1200")
              img(src="assets/img/png/solution-1.png", width="864" height="570" alt="")
            .product-info__item-content
              .product-info__item-top
                h2.product-info__item-title Health information
                .text
                  p Proactively equip families with information and assure them that their loved ones are in good hands, while returning valuable time back to your staff.
              .product-info__item-descrip
                ul.product-info__list
                  li.product-info__list-item
                    h3.product-info__list-title Automate information sharing
                    .text.product-info__list-text
                      p Automatically share timely and accurate resident health information with families (or resident themselves), eliminating the need for the families to constantly call the clinical team for information. Health Information available are Careplan, vitals, medication, Diagnosis, Allergies, Immunizations, Notes, Lab Reports, and more.
                  li.product-info__list-item
                    h3.product-info__list-title Customize information types
                    .text.product-info__list-text
                      p Personalize the type of health information to share based on the community’s needs and workflow.
                details.product-info__more
                  summary.button.button--text
                    span
                  ul.product-info__list
                    li.product-info__list-item
                      h3.product-info__list-title 24X7 real-time access
                      .text.product-info__list-text
                        p Allow families to log in and view information anytime, anywhere giving them a peace of mind on their loved one’s care.
                    li.product-info__list-item
                      h3.product-info__list-title Shared decision making
                      .text.product-info__list-text
                        p Share information in a way that is affirming, not too overwhelming, and that empowers them to participate in care and decision making.
                    li.product-info__list-item
                      h3.product-info__list-title Automated email notification
                      .text.product-info__list-text
                        p Automate notification to families whenever there is any change in resident’s health status.
                    li.product-info__list-item
                      h3.product-info__list-title Regulatory compliance
                      .text.product-info__list-text
                        p Comply with CMS regulations (US) and Long-Term Care Act (Canada) by providing access to CarePlan and other electronic health information.
      #solutions-messaging.product-info__item.section(data-product-item)
        .container
          .product-info__inner
            .product-info__item-img(data-aos="fade-left" data-aos-duration="1200" data-aos-offset="500")
              img(src="assets/img/png/solution-2.png", width="864" height="570" alt="")
            .product-info__item-content
              .product-info__item-top
                h2.product-info__item-title Secure Messaging
                .text
                  p Save time for your clinical team by centralizing and streamlining communication with families with our secure HIPAA compliant messaging module.
              .product-info__item-descrip
                ul.product-info__list
                  li.product-info__list-item
                    h3.product-info__list-title Configure Message type
                    .text.product-info__list-text
                      p Decide whether to send one-way communication or bi-directional communication (between families and care team).
                  li.product-info__list-item
                    h3.product-info__list-title Gain visibility on the status of time-sensitive communications
                    .text.product-info__list-text
                      p See whether a family has read the communication.
                details.product-info__more
                  summary.button.button--text
                    span
                  ul.product-info__list
                    li.product-info__list-item
                      h3.product-info__list-title Centralize and streamline communication
                      .text.product-info__list-text
                        p Create individual or group inboxes. Configure a specific user or team to receive, respond, and triage messages from families.
                    li.product-info__list-item
                      h3.product-info__list-title Automated Contact List Update
                      .text.product-info__list-text
                        p Automatically syncs resident contacts from the HER eliminating the need for the staff to maintain a mailing list.
                    li.product-info__list-item
                      h3.product-info__list-title Automated email notification
                      .text.product-info__list-text
                        p Automate notification to families whenever there is any change in resident’s health status.
                    li.product-info__list-item
                      h3.product-info__list-title HER Integration
                      .text.product-info__list-text
                        p Update the resident chart automatically to include a transcript of the conversation, without any manual involvement by staff.
      #solutions-booking.product-info__item.section(data-product-item)
        .container
          .product-info__inner
            .product-info__item-img(data-aos="fade-right" data-aos-duration="1200" data-aos-offset="500")
              img(src="assets/img/png/solution-3.png", width="864" height="570" alt="")
            .product-info__item-content
              .product-info__item-top
                h2.product-info__item-title Appointment booking
                .text
                  p Easily integrate an online booking tool that allow families to view upcoming resident appointments, book visitations, respond to care conferences, and record it in the EHR with a push of a button.
              .product-info__item-descrip
                ul.product-info__list
                  li.product-info__list-item
                    h3.product-info__list-title Create and customize appointment types
                    .text.product-info__list-text
                      p Create an unlimited number of appointment types (visitations, care conferences, resident specific appointment) and customize appointment duration, time, number of slots, special instructions, the way you want.
                  li.product-info__list-item
                    h3.product-info__list-title Avoid overbooking
                    .text.product-info__list-text
                      p Customize how many appointment types you would like to make available. Appointments are scheduled without calendar conflicts, reminders go out automatically, and rescheduling is a breeze for everyone.
                details.product-info__more
                  summary.button.button--text
                    span
                  ul.product-info__list
                    li.product-info__list-item
                      h3.product-info__list-title Booking preference
                      .text.product-info__list-text
                        p Set how far in advance an appointment can be booked.
                    li.product-info__list-item
                      h3.product-info__list-title Automate appointment confirmations
                      .text.product-info__list-text
                        p Automate your appointment confirmation emails to go out immediately after it is booked.
                    li.product-info__list-item
                      h3.product-info__list-title HER Integration
                      .text.product-info__list-text
                        p Automatically record the appointment in the resident’s chart in the EHR.
      #solutions-remind.product-info__item.section(data-product-item)
        .container
          .product-info__inner
            .product-info__item-img(data-aos="fade-left" data-aos-duration="1200" data-aos-offset="500")
              img(src="assets/img/png/solution-4.png", width="864" height="570" alt="")
            .product-info__item-content
              .product-info__item-top
                h2.product-info__item-title Care Conference Reminders
                .text
                  p Bring staff and families together for care conferences by automatically sending care conference reminders to the families.
              .product-info__item-descrip
                ul.product-info__list
                  li.product-info__list-item
                    h3.product-info__list-title Schedule Care Conference
                    .text.product-info__list-text
                      p Set up a multi-team care conferences for residents and send invitation to all the participants (DONs, nurses, social workers, families etc)
                  li.product-info__list-item
                    h3.product-info__list-title Send automated reminders by email
                    .text.product-info__list-text
                      p Send reminder email to residents or families including start-time, end-time, location, and any special instructions.
      #solutions-annoucements.product-info__item.section(data-product-item)
        .container
          .product-info__inner
            .product-info__item-img(data-aos="fade-right" data-aos-duration="1200" data-aos-offset="500")
              img(src="assets/img/png/solution-5.png", width="864" height="570" alt="")
            .product-info__item-content
              .product-info__item-top
                h2.product-info__item-title Mass Announcements
                .text
                  p Share information with residents and their families to keep everyone up to date of important community communications and ensure regulatory compliance.
              .product-info__item-descrip
                ul.product-info__list
                  li.product-info__list-item
                    h3.product-info__list-title Using email to broadcast
                    .text.product-info__list-text
                      p Reach your entire resident contact list or a targeted contact cohort with a click of a button for non-personal health related communications such as pandemic updates, policies, surveys etc.
                  li.product-info__list-item
                    h3.product-info__list-title Multi-communities broadcast
                    .text.product-info__list-text
                      p Send mass announcements to multiple communities at once.
                  li.product-info__list-item
                    h3.product-info__list-title Maintain Compliance
                    .text.product-info__list-text
                      p Log all communication directly in resident charts to ensure compliance with the applicable regulatory standards.
      #solutions-share.product-info__item.section(data-product-item)
        .container
          .product-info__inner
            .product-info__item-img(data-aos="fade-left" data-aos-duration="1200" data-aos-offset="500")
              img(src="assets/img/png/solution-6.png", width="864" height="570" alt="")
            .product-info__item-content
              .product-info__item-top
                h2.product-info__item-title Document Sharing
                .text
                  p Allow sharing of sensitive documents between families and care team that will help deliver resident centered care.
              .product-info__item-descrip
                ul.product-info__list
                  li.product-info__list-item
                    h3.product-info__list-title Share community related documents
                    .text.product-info__list-text
                      p Display activity calendar, menus, community policies and more for families to stay abreast on their community’s news.
                  li.product-info__list-item
                    h3.product-info__list-title Share resident preferences and choices
                    .text.product-info__list-text
                      p Allow families to share resident specific sensitive documents such as historical clinical documents, care preferences, vaccination status and more.
                  li.product-info__list-item
                    h3.product-info__list-title HER Integration
                    .text.product-info__list-text
                      p Add documents shared by families into resident’s chart automatically, saving staff time from documents scanning and uploading.
      #solutions-onboarding.product-info__item.section(data-product-item)
        .container
          .product-info__inner
            .product-info__item-img(data-aos="fade-right" data-aos-duration="1200" data-aos-offset="500")
              img(src="assets/img/png/solution-7.png", width="864" height="570" alt="")
            .product-info__item-content
              .product-info__item-top
                h2.product-info__item-title Onboarding
                .text
                  p Get started with just 5 clicks with no download, installation, or infrastructure required for setup and use, making our platform easily scalable and provide better customer and user experience.
              .product-info__item-descrip
                ul.product-info__list
                  li.product-info__list-item
                    h3.product-info__list-title Seamless Integration with existing nursing workflow
                    .text.product-info__list-text
                      p Automated Onboarding: Get families started with our portal without any staff involvement through our automatic invitation system.
                  li.product-info__list-item
                    h3.product-info__list-title Customize onboarding process
                    .text.product-info__list-text
                      p Customize the onboarding process to your needs.
                  li.product-info__list-item
                    h3.product-info__list-title Feel confident using it
                    .text.product-info__list-text
                      p Get residents and families Our intuitive, easy to use UX/UI design users do not need any training to get started and use our platform.

    section.demo
      .container
        .demo__inner
          .demo__content
            .demo__descrip
              h2.demo__title(data-aos="fade-right" data-aos-duration="1200" data-aos-offset="300") <span>Let’s keep your staff off the phone.</span> See it to believe it — Book a demo now!
              button.button.button--secondary schedule a demo
            .demo__img.demo__img--secondary
              img(src="assets/img/png/demo-2.png", width="696" height="380" alt="" loading="lazy")
          button#scroll-top.to-top scroll to top
