extends common/layout

block title
  title Reset password

block content
  main
    +crumbs([
      {href: '', name: 'Reset password'}
    ])

    section.reset-pass
      .container
        h1.title.title--secondary.title--center.reset-pass__title Forgot Password?
        .text.reset-pass__text
          p We'll send you a recovery link and get you up and running in no time!
        .reset-pass__inner
          form.form(method="POST" name="reset-pass")
            .form__inputs.reset-pass__inputs
              label.control.form__control
                input.input.control__input(type="email" data-input required)
                span.control__label Email
                span.control__error Error message
            button.button.reset-pass__submit.form__submit(type="submit") Send link
            .text.reset-pass__alert.reset-pass__text
              p We've sent instructions on how to reset your password to your email address
            .need-help
              span Need help?
              a.button.button--text(href="contact.html") Contact us
