.engage__inner {
  display: flex;
  justify-content: space-between;

  @include media-laptop {
    flex-direction: column-reverse;
  }
}

.engage__content {
  display: flex;
  flex-direction: column;
  max-width: 81rem;
  width: 100%;
  margin-right: 20px;

  @include media-laptop {
    max-width: unset;
    margin-right: 0;
  }

  @include media-tablet-lg {
    align-items: center;
  }

  @include media-tablet-sm {
    align-items: flex-start;
  }
}

.engage__descrip {
  margin-bottom: 4rem;

  @include media-tablet-sm {
    margin-bottom: 24px;
  }
}

.engage__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 150%;

  span {
    color: var(--purple-alpha);
  }

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include media-tablet-lg {
    text-align: center;
    font-size: 24px;
  }

  @include media-tablet-sm {
    text-align: left;
  }
}

.engage__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px 3rem;
  margin-bottom: 40px;

  @include media-laptop {
    max-width: 740px;
  }

  @include media-tablet-lg {
    max-width: 670px;
    margin: 0 auto 40px;
  }

  @include media-tablet-sm {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 0 24px;
  }
}

.engage__partner {
  max-width: 32.4rem;
  width: 100%;
  padding: 7px 18px;
  border: 1px solid var(--blue-alpha);
  border-radius: 5px;

  img {
    transition: transform 0.2s ease;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }

  @include media-tablet-lg {
    max-width: 229px;
  }
}

.engage__img {
  max-width: 74.9rem;
  width: 100%;

  @include media-desktop {
    max-width: 550px;
    margin-bottom: 60px;
  }

  @include media-laptop {
    max-width: 484px;
    margin: 0 auto 60px;
  }

  @include media-tablet-sm {
    margin-bottom: 24px;
  }
}
