.solutions__content {
  position: relative;
}

.solutions__list {
  padding: 0 8.6rem;

  @include media-tablet-lg {
    padding: 0;
  }
}

.solutions__list-item {
  position: relative;
  display: flex;
  align-items: center;
  width: 50%;
  left: 50%;
  flex-direction: row-reverse;

  &:not(:last-child) {
    margin-bottom: 10rem;

    @include media-tablet-sm {
      margin-bottom: 24px;
    }
  }

  &:nth-child(even) {
    @include media-custom-mf(1366px) {
      left: unset;
      right: 0;

      .solutions__list-item {
        &-descrip {
          margin-left: 0;
          margin-right: calc(100px - 4rem);
          padding: 4rem 8rem 4rem 4rem;
          text-align: right;
        }

        &-img {
          right: -100px;
          left: unset;
        }
      }
    }
  }

  @include media-laptop {
    flex-direction: row;
    width: 100%;
    left: 0;
  }

  &-img {
    position: absolute;
    z-index: 1;
    min-height: 200px;
    min-width: 200px;
    padding: 2.5rem;
    background-color: var(--white-alpha);
    box-shadow: 0px 5px 20px rgba(0, 49, 123, 0.07);
    border-radius: 50%;
    left: -100px;

    @include media-laptop {
      position: static;
    }

    @include media-tablet-lg {
      max-width: 150px;
      min-width: 150px;
      max-height: 150px;
      min-height: 150px;
    }

    @include media-tablet-sm {
      max-width: 60px;
      min-width: 60px;
      max-height: 60px;
      min-height: 60px;
      padding: 8px;
    }
  }

  &-descrip {
    background-color: var(--gray-alpha);
    padding: 4rem 4rem 4rem 8rem;
    border: 2px solid var(--white-gamma);
    border-radius: 20px;
    max-width: 69.6rem;
    width: 100%;
    margin-left: calc(100px - 4rem);

    transition: background-color 0.2s linear;

    &:hover {
      background-color: var(--purple-alpha);

      .solutions__list-item {
        &-title {
          color: var(--white-alpha);
        }

        &-text {
          color: var(--white-alpha);
        }

        &-link {
          color: var(--white-alpha);

          &::before,
          &::after {
            background-color: var(--white-alpha);
          }
        }
      }
    }

    @include media-laptop {
      margin-left: -4rem;
      max-width: 800px;
    }

    @include media-tablet-lg {
      padding: 24px 24px 24px 48px;
      margin-left: -24px;
    }

    @include media-tablet-sm {
      padding: 16px 32px;
      margin-left: -16px;
    }
  }

  &-title {
    font-size: 20px;
    line-height: 150%;
    color: var(--purple-alpha);
    margin-bottom: 16px;
    transition: color 0.2s linear;

    @include media-tablet-sm {
      font-size: 18px;
      margin-bottom: 8px;
    }
  }

  &-text {
    margin-bottom: 16px;
    transition: color 0.2s linear;

    @include media-tablet-sm {
      margin-bottom: 8px;
    }
  }

  &-link {
    @include media-tablet-sm {
      font-size: 14px;
    }
  }
}

.solutions__line {
  position: absolute;
  content: '';
  overflow: hidden;
  top: 22rem;
  bottom: 22rem;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--white-alpha);

  &-progress {
    position: absolute;
    background-color: var(--purple-alpha);
    top: 0;
    width: 100%;
    height: 0;
    transition: height 0.2s ease-out;
  }

  @include media-laptop {
    left: 161px;
    transform: translateX(0);
  }

  @include media-tablet-lg {
    left: 62px;
    top: 160px;
    bottom: 160px;
  }

  @include media-tablet-sm {
    width: 8px;
    top: 100px;
    bottom: 100px;
    left: 26px;
  }

  @include media-phone-sm {
    top: 7%;
    bottom: 7%;
  }
}
