.why__progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;

  @include media-laptop {
    flex-direction: column;
    margin-bottom: 60px;
  }

  @include media-tablet-sm {
    margin-bottom: 40px;
  }
}

.why__progress-circles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 11.3rem;
  max-width: 91.6rem;
  margin-right: 80px;
  width: 100%;

  @include media-desktop {
    grid-gap: 50px;
  }

  @include media-laptop {
    margin-right: 0;
    margin-bottom: 60px;
  }

  @include media-tablet-lg {
    grid-gap: 24px;
  }

  @include media-tablet-sm {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin-bottom: 40px;
  }
}

.why__descrip {
  max-width: 67.4rem;
  width: 100%;
  padding: 4rem;
  border: 2px solid var(--white-gamma);
  border-radius: 20px;

  @include media-tablet-sm {
    padding: 16px;
  }
}

.why__descrip-title {
  font-size: 24px;
  line-height: 150%;
  color: var(--purple-alpha);
  margin-bottom: 14px;

  @include media-tablet-sm {
    font-size: 18px;
  }
}

.why__gains-button {
  margin: 0 auto;
  display: block;
}

.why__gains {
  margin-bottom: 4rem;
}
