.why__progress-circles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 11.3rem;
  max-width: 91.6rem;
  width: 100%;
}

.why__progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-bottom: 10rem;
}

.why__descrip {
  max-width: 67.4rem;
  width: 100%;
  padding: 4rem;
  border: 2px solid var(--white-gamma);
  border-radius: 20px;
}

.why__descrip-title {
  font-size: 24px;
  line-height: 150%;
  color: var(--purple-alpha);
  margin-bottom: 14px;
}

.why__gains-button {
  margin: 0 auto;
  display: block;
}

.why__gains {
  margin-bottom: 4rem;
}
