.form {
  max-width: 552px;
  width: 100%;
}

.form__control {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.form__inputs {
  margin-bottom: 24px;
}

.form__submit {
  width: 100%;
}

.form__text {
  margin-bottom: 4rem;
}
