.input {
  border: 1px solid var(--black-beta);
  border-radius: 5px;
  width: 100%;
  padding: 16px;
  font-size: 16px;
  min-height: 59px;

  &:hover {
    border-color: var(--black-alpha);
  }

  &:focus {
    border-color: var(--purple-alpha);
  }
}
