.button {
  background-color: var(--blue-alpha);
  text-transform: uppercase;
  color: var(--white-beta);
  letter-spacing: 0.05em;
  font-weight: 500;
  border-radius: 5px;
  padding: 11px 30px;

  transition: background-color 0.2s linear;

  &:hover {
    background-color: var(--purple-alpha);
  }
}
