.button {
  position: relative;
  background-color: var(--blue-alpha);
  text-transform: uppercase;
  color: var(--white-beta);
  letter-spacing: 0.05em;
  font-weight: 500;
  line-height: 1;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  padding: 16px 30px;
  cursor: pointer;
  transition: background-color 0.6s linear;
  overflow: hidden;

  &--text {
    display: inline;
    color: var(--blue-alpha);
    background-color: none;
    padding: 0 1px;
    line-height: 100%;
    transition: color ease 0.3s;
    overflow: unset;

    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: var(--blue-alpha);
      height: 5%;
    }

    &::before {
      width: 0%;
      left: 0;
      bottom: 0;
      transition: width ease 0.4s;
    }

    &::after {
      width: 100%;
      left: 0;
      bottom: 0;
      transition: all ease 0.6s;
    }

    &:hover {
      &::before {
        width: 100%;
      }

      &::after {
        left: 100%;
        width: 0%;
        transition: all ease 0.2s;
      }
    }
  }

  &:not(.button--text) {
    &::before {
      content: '';
      display: block;
      position: absolute;
      background: rgba(255, 255, 255, 0.5);
      width: 60px;
      height: 100%;
      left: 0;
      top: 0;
      opacity: 0.5;
      filter: blur(30px);
      transform: translateX(-100px) skewX(-15deg);
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      background: rgba(255, 255, 255, 0.2);
      width: 30px;
      height: 100%;
      left: 30px;
      top: 0;
      opacity: 0;
      filter: blur(5px);
      transform: translateX(-100px) skewX(-15deg);
    }

    &:hover {
      background-color: var(--purple-alpha);

      &::before {
        transform: translateX(700px) skewX(-15deg);
        opacity: 0.6;
        transition: 0.7s;
      }
      &::after {
        transform: translateX(700px) skewX(-15deg);
        opacity: 1;
        transition: 0.7s;
      }
    }
  }

  &--secondary {
    background-color: var(--orange-alpha);
    color: var(--black-alpha);

    &:hover {
      &:not(.button--text) {
        background-color: var(--white-alpha);
      }
    }
  }

  @include media-tablet-sm {
    font-size: 14px;
  }

  &--outline {
    color: var(--black-alpha);
    background-color: var(--white-alpha);
    border: 2px solid var(--blue-alpha);
    transition: background-color 0.6s linear;

    &:hover {
      color: var(--white-alpha);
      border-color: var(--purple-alpha);
    }
  }
}
