.demo {
  background-image: url('../img/svg/bg-purple.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding: 10rem 0 24px;

  @include media-laptop {
    padding-bottom: 36px;
  }
}

.demo__inner {
  display: flex;
  flex-direction: column;

  @include media-tablet-sm {
    align-items: center;
  }
}

.demo__content {
  justify-content: space-between;
  display: flex;
  gap: 80px;
  margin-bottom: 16px;

  @include media-desktop {
    gap: 40px;
  }

  @include media-tablet-sm {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 40px;
  }
}

.demo__descrip {
  max-width: 69.6rem;
  width: 100%;

  @include media-tablet-sm {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.demo__title {
  margin-bottom: 4rem;
  line-height: 130%;
  color: var(--white-beta);
  font-size: 4.8rem;

  span {
    display: block;
    line-height: 120%;
    text-transform: uppercase;
    font-size: 6.4rem;
    color: var(--orange-alpha);
  }

  @include media-laptop {
    span {
      font-size: 48px;
    }

    font-size: 24px;
  }

  @include media-tablet-sm {
    span {
      font-size: 24px;
    }

    font-size: 16px;
  }
}

.demo__img {
  max-width: 100%;
  padding-right: 28rem;

  &--secondary {
    padding-right: 0;
  }

  @include media-desktop {
    padding-right: 0;
  }

  @include media-tablet-sm {
    max-width: 288px;
  }
}
