.intro {
  @include media-laptop {
    padding-bottom: 100px;
  }

  @include media-tablet-lg {
    padding-bottom: 60px;
  }
}

.intro__inner {
  display: flex;
  align-items: center;

  @include media-laptop {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  @include media-tablet-lg {
    gap: 40px;
  }
}

.intro__img {
  position: relative;
  width: 100%;

  @include media-laptop {
    margin: 0 auto;

    img {
      max-width: 992px;
      margin: 0 auto;
    }
  }

  @include media-tablet-lg {
    img {
      max-width: 736px;
    }
  }

  @include media-tablet-sm {
    img {
      min-width: 320px;
      max-width: 500px;
    }
  }
}

.intro__descrip {
  max-width: 72rem;
  width: 100%;

  @include media-laptop {
    max-width: unset;
  }
}

.intro__title {
  font-weight: 500;
  font-size: 3.8rem;
  line-height: 130%;
  text-transform: capitalize;
  margin-bottom: 1.6rem;

  @include media-tablet-lg {
    font-size: 32px;
  }

  @include media-tablet-sm {
    font-size: 20px;
  }
}

.intro__subtitle {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 150%;
  color: var(--purple-alpha);
  margin-bottom: 2.4rem;

  @include media-tablet-lg {
    font-size: 20px;
  }

  @include media-tablet-sm {
    font-size: 14px;
  }
}
