.list-check {
  li {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;

    &::before {
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;
      height: 48px;
      width: 48px;
      content: '';
      background: url('../img/svg/check.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    @include media-tablet-lg {
      font-size: 16px;

      &::before {
        background-size: 24px;
        width: 24px;
        height: 24px;
      }
    }
  }
}
