.section {
  &:not(.bg-decor) {
    padding: 10rem 0;
    margin-bottom: 10rem;
  }

  &--mb-none {
    &:not(.bg-decor) {
      margin-bottom: 0;
    }
  }

  margin-bottom: 10rem;

  @include media-tablet-md {
    margin-bottom: 40px;
  }

  @include media-tablet-sm {
    margin-bottom: 30px;
  }
}
