.title {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  line-height: 130%;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 6rem;

  &--center {
    text-align: center;
  }

  @include media-tablet-lg {
    font-size: 24px;
  }

  @include media-tablet-sm {
    font-size: 20px;
    margin-bottom: 24px;
  }
}
